
        <!--<div class="card" >

            <div class="card-header {{tipo}}">
                    {{titulo}}
            </div>

            <div class="card-body" >
                    <ng-content></ng-content>
            </div>
        </div>
-->
                        <div class="block {{tipo}} ">
                                <div class="card-header text-center">{{situacao}}</div>
                            
                            <div class="block-desc">

                                <p>{{qtd_OS}}</p>
                                <ng-content></ng-content>
                
                            </div>
                
                            <div class="block-link">

                                <a href="" >{{titulo}}</a>

                            </div>
                        
                            
                        </div>
        
