



.main{
   
    display: flex;
    background-color: #ecf0f5;
    min-height: calc(100vh - 52px);
    overflow: hidden;
  
}

.content{

    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    width: 100%;
    background-color: #ededee;
    margin: 5px ;
      
}
